@model JobSearch.Models.ViewModels.ApplicantPersonalInfoViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="ApplicationUser.Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.FirstName" class="control-label"></label>
                <input asp-for="ApplicationUser.FirstName" class="form-control" />
                <span asp-validation-for="ApplicationUser.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.LastName" class="control-label"></label>
                <input asp-for="ApplicationUser.LastName" class="form-control" />
                <span asp-validation-for="ApplicationUser.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label">Upload your Image </label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
        <label asp-for="ApplicationUser.LocationId" class="control-label">Location</label>
        <select asp-for="ApplicationUser.LocationId" class="form-control" asp-items="@Model.LocationOptions">
            <option value="" hidden>Please make a selection</option>
        </select>
        <span asp-validation-for="ApplicationUser.LocationId" class="text-danger"></span>
        </div>
            <div class="form-group">
                <label asp-for="Applicant.Email" class="control-label"></label>
                <input asp-for="Applicant.Email" class="form-control" />
                <span asp-validation-for="Applicant.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Applicant.SocialLink" class="control-label">Social Link</label>
                <input asp-for="Applicant.SocialLink" class="form-control" />
                <span asp-validation-for="Applicant.SocialLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Applicant.Education" class="control-label"></label>
                <input asp-for="Applicant.Education" class="form-control" />
                <span asp-validation-for="Applicant.Education" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Applicant.Experience" class="control-label"></label>
                <input asp-for="Applicant.Experience" class="form-control" />
                <span asp-validation-for="Applicant.Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Applicant.SkillsAndCertifications" class="control-label">Skills and Certifications</label>
                <input asp-for="Applicant.SkillsAndCertifications" class="form-control" />
                <span asp-validation-for="Applicant.SkillsAndCertifications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResumeFile" class="control-label">Upload your Resume </label>
                <input asp-for="ResumeFile" class="form-control" type="file" />
                <span asp-validation-for="ResumeFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary btn-sm text-dark">Back to List</a>
</div>

