@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Job Search</h1>
        <h1>(Working Title)</h1>
        <div class="col-md-12">
            <dl class="row" style="margin-top:150px;">
                <dt class="col-md-6">
                    <h1 style="font-size:80px;">
                        <a asp-area="Identity" asp-page="/Account/Login">Employer Login</a>
                    </h1>
                </dt>
                <dt class="col-md-6">
                    <h1 style="font-size:80px;">
                        <a asp-area="Identity" asp-page="/Account/Login">Applicant Login</a>
                    </h1>
                </dt>
            </dl>
        </div>
    </div>
