@model JobSearch.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h1 style="margin-top: 5px">@Html.DisplayFor(model => model.CompanyName)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Location
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.Name)
        </dd>
        <dt class = "col-sm-2">
            About Us
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AboutUs)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Applicant" asp-action="Index" class="btn btn-secondary btn-sm text-dark">Back to List</a>
</div>
